SITE_URL=https://secrets.example.com

HOST=0.0.0.0
PORT=8080

NODE_ENV=production

AUTH_SECRET=CHANGE_ME
ENCRYPTION_KEY=CHANGE_ME

DB_CONNECTION_URI=postgres://infisical:CHANGE_ME@192.168.1.101:5432/infisical

REDIS_URL=redis://192.168.1.104:6379